@()(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script>

    start = function()
    {
      console.log("Started")
      ws.send("START");
    };

    init = function(socketUrl){
      ws = new WebSocket(socketUrl);
      ws.onopen = function(){
          console.log("connected");
      };

      ws.onmessage = function (evt){
          console.log("Message " + evt.data);
      };

      ws.onclose = function(){
          // websocket is closed.
          console.error("Connection is closed...");
      };
    };

    init("@routes.MultiTarget.socket().webSocketURL()")
  </script>
</head>

<body>
  <button onclick="start()">Start</button>
</body>
</html>